* ,
*::after ,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background-color: #3D3C42;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 300px);
    gap: 20px 20px;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
}

.item {
    position: relative;
    perspective: 1000px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item:nth-child(1) {background-color: #F2D7D9;}
.item:nth-child(2) {background-color: #DAEAF1;}
.item:nth-child(3) {background-color: #FAF0D7;}
.item:nth-child(4) {background-color: #DAE5D0;}
.item:nth-child(5) {background-color: #E2C2B9;}
.item:nth-child(6) {background-color: #C1CFC0;}

.item a, .item a::after {
    text-decoration: none;
    font-weight: bold;
    color: #0B0B0B;
    text-transform: uppercase;
}

/*** Pestañas diferentes a la principal ***/
.header {
    text-align: center;
    padding: 20px;
}
.bg-position {
    background-color: #F2D7D9;
    padding: 10px;
}
.main {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main article, .main section {
    border: 1px solid #000;
    border-radius: 10px;
}
.main article {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main article div {
    padding: 10px;
    width: 50%;
    text-align: justify;
    position: relative;
}
.main article .info-1 {
    padding: 20px;
    text-align: center;
}
.main article .info-2 {
    height: 220px;
    overflow-x: auto;
    background-color: #DAEAF1;
    position: relative;
    top: 10%;
}
.main article .info-2 p:nth-child(4){
    width: 200px;
    height: 120px;
    background-color: #E2C2B9;
    position: absolute;
    bottom: 0;
    right: 0;
}
.info-2 nav {
    width: 40%;
    height: 60px;
    background: #3D3C42;
    color: #fff;
    position: fixed;
    top: 35%;
}
.info-2 ul h2{
    position: sticky;
    top: 0;
    color: #0000ff;
}

/* Card */
.bg-card {
    background-color: #FAF0D7;
    padding: 10px;
    display: flex;
}
.sec-card {
    width: 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    position: relative;
    width: 100%;
    height: 570px;
    background-color: #A25B5B;
    color: #ffffff;
    margin: auto;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
}
.card img {
    width: 100%;
}
.card p {
    text-align: justify;
    padding: 5px;
    margin: 10px;
    font-size: 1.6rem;
}
.card p:nth-child(3){
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}
.card p:nth-child(4) {
    color: #DAE5D0;
}
.card .profile-vintage {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    left: 35%;
    top: 40%;
    border: #fff 3px solid;
}
.profile-vintage img {
    width: 100%;
}
.vintage-ubi {
    display: flex;
    justify-content: center;
    color: #000;
}
.vintage-redes {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}
.vintage-redes a {
    width: 20px;
    height: 20px;
}
.vintage-redes a img {
    width: 100%;
}

/* Card2 */
.sec-card2 {
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2 {
    position: relative;
    width: 100%;
    height: 550px;
    background-color: #c3a1a1;
    color: #000;
    margin: auto;
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.card2 .card-perfil {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-perfil .card-img {
    width: 90%;
    height: 70%;
    margin-bottom: 20px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
}
.card-img img {
    width: 100%;
}
.card-perfil .projects {
    display: flex;
    align-self: center;
}
.projects .num-project{
    font-size: 2.8rem;
    font-weight: bold;
    color: #954cb0;
    width: 20%;
    display: flex;
    align-items: center;
}
.projects p {
    font-size: 1.6rem;
}
.card2 .card-contenido {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-contenido h3 {
    color: #954cb0;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.6px;
    padding: 10px;
}
.card-contenido h1 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.6px;
    padding: 10px;
}
.card-contenido p {
    color: #FDFDFD;
    font-size: 1.6rem;
    letter-spacing: 0.6px;
    padding: 10px;
}
.card-contenido button {
    width: 20%;
    background-color: #954cb0;
    color: #FDFDFD;
    border: 0px;
    border-radius: 20px;
    font-size: 1.4rem;
    margin: 10px;
    padding: 10px;
}
.card-contenido button:hover {
    background-color: #49125d;
    cursor: pointer;
}

/* Z-index */
.art-zindex {
    width: 200px;
    height: 200px;
    margin: 10px auto 0;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}
.art-zindex .uno {
    width: 50px;
    height: 50px;
    background: #fff000;
    z-index: 6;
}
.art-zindex .dos {
    width: 30px;
    height: 30px;
    background: #0000ff;
    z-index: 4;
}
.art-zindex .tres {
    width: 50px;
    height: 50px;
    background: #ff0000;
    z-index: 5;
}

/* Responsive design */
.bg-responsive {
    background-color: #c3a1a1;
    color: #000;
}
.bg-responsive header h1 {
    color: #fff;
    text-transform: uppercase;
}
.main-responsive {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.main-responsive p{
    padding: 20px 10px;
}
.main-responsive ul{
    padding: 20px;
}
.main-responsive ul li{
    list-style-type: decimal;
}
.main-responsive figure {
    width: 50%;
    margin: 0 auto;
}
.main-responsive figure img {
    width: 100%;
}

/* Ir hacia atrás */
.principal {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
}
.principal a img {
    width: 100%;
}

@media (max-width: 480px) {
    .main-responsive {
        background-color: #C1CFC0;
    }
    .principal {
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .main-responsive {
        background-color: #DAEAF1;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .main-responsive {
        background-color: #E2C2B9;
    }
}
@media only screen and (min-width: 1024px){
    .main-responsive {
        background-color: #cda6db;
    }
}